/***
Login page
***/
/* bg color */
.login {
  background-color: #f9f9f9 !important;
  padding-top: 60px;
  height: calc(100%);
  min-height: 600px;
}

.login .logo {
  margin: 0 auto;
  /*margin-top: 60px;*/
  padding: 15px;
  text-align: center;
}

.login .logo .container {
  margin-top: 10px;
  width: auto;
  height: 30px;
  /*background: url("../../assets/css/themes/img/logo-big.png") center center no-repeat;*/
}

.login .content {
  background-color: #f9f9f9;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 380px;
  margin: 40px auto 10px auto;
  padding: 30px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  height: 397px;
}

.login .content h3 {
  color: #666666;
  text-align: center;
  font-size: 24px;
  font-weight: 600 !important;
}

.login .content h4 {
  color: #555;
}

.login .content .hint {
  color: #999;
  padding: 0;
  margin: 15px 0 7px 0;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}

.login .content .form-control {
  background-color: #fff;
  height: 43px;
  color: #8290a3;
  border: 1px solid #dde3ec;
}

.login .content .form-control:focus, .login .content .form-control:active {
  border: 1px solid #FE7E27;
  box-shadow: 0 0 3px #FE7E27;
}

.login .content .form-control::-moz-placeholder {
  color: #8290a3;
  opacity: 1;
}

.login .content .form-control:-ms-input-placeholder {
  color: #8290a3;
}

.login .content .form-control::-webkit-input-placeholder {
  color: #8290a3;
}

.login .content select.form-control {
  padding-left: 9px;
  padding-right: 9px;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 38px;
}

.login .content .form-actions {
  clear: both;
  border: 0px;
  /*border-bottom: 1px solid #eee;*/
  padding: 0px 30px 6px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login-options {
  margin-bottom: 30px;
  overflow: hidden;
}

.login-options h4 {
  float: left;
  font-weight: 600;
  font-size: 15px;
  color: #7d91aa !important;
}

.login-options .social-icons {
  float: right;
  padding-top: 3px;
}

.login-options .social-icons li a {
  border-radius: 15px 15px 15px 15px !important;
  -moz-border-radius: 15px 15px 15px 15px !important;
  -webkit-border-radius: 15px 15px 15px 15px !important;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .form-actions .btn-success {
  font-weight: 600;
  padding: 10px 20px !important;
}

.login .content .form-actions .btn-default {
  font-weight: 600;
  padding: 10px 25px !important;
  color: #6c7a8d;
  background-color: #ffffff;
  border: none;
}

.login .content .form-actions .btn-default:hover {
  background-color: #fafaff;
  color: #45b6af;
}

.login .content .forget-password {
  font-size: 12px;
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.login .content .check {
  color: #8290a3;
}

.login .content .rememberme {
  margin-top: 10px;
  font-size: 12px;
  visibility: hidden;
}

.login .links {
  text-align: center;
}

.login .link {
  font-size: 14px;
  color: #666666;
}

.login .link:hover {
  color: #dc4e46;
}

.login .link + .link {
  margin-left: 38px;
}

.login .content .create-account {
  margin: 0 -40px -40px -40px;
  padding: 15px 0 17px 0;
  text-align: center;
  background-color: #6c7a8d;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.login .content .create-account p a {
  font-weight: 600;
  font-size: 14px;
  color: #c3cedd;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto 30px 0;
  padding: 10px;
  color: #7a8ca5;
  font-size: 13px;
}

@media (max-width: 440px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }

  .login .content {
    width: 280px;
    margin-top: 10px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .forget-password {
    display: inline-block;
    margin-top: 20px;
  }

  .login-options .social-icons {
    float: left;
    padding-top: 3px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}

.social-icons .sina, .social-icons .linkin, .social-icons .baidu, .social-icons .qq, .social-icons .google, .social-icons .github, .social-icons .wechat {
  /*display: inline-block;*/
  background-image: url("../img/login-third-party.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}

.social-icons .sina {
  background-position: 0 0 !important;
}

.social-icons .linkin {
  background-position: -37px 0 !important;
}

.social-icons .baidu {
  background-position: -74px 0 !important;
}

.social-icons .qq {
  background-position: -112px 0 !important;
}

.social-icons .github {
  background-position: -186px 0 !important;
}

.social-icons .wechat {
  background-position: -224px 0 !important;
}

.login .btn-login {
  width: 100%;
  color: #fff;
  background-color: #FE7E27;
  border-color: #FE7827;
  font-size: 15px;
}

.login .btn-register {
  width: 100%;
  color: #666666;
  background-color: inherit;
  font-size: 15px;
  border-width: 1px !important;
  border-style: solid;
  border-color: #dde3ec;
  box-shadow: none;
}

.login .btn-register:hover {
  background-color: #FE7E27;
  border-color: #FE7827;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
}

.login .log-info,.login-pop .log-info {
  background: #fde6dc;
  padding: 4px 0 4px 8px;
  margin-bottom: 10px;
}

.login .log-info .remove-icon,.login-pop .log-info .remove-icon {
  vertical-align: middle;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
  background: url("../../assets/img/icon/icon-remove.png") center center no-repeat
}

.login .log-info .login-msg ,.login-pop .log-info .login-msg{
  vertical-align: middle;
  display: inline-block;
  color: #FE7E27;
}

.login-copyright {
  margin-top: 30px;
  text-align: center;
  padding: 4px 0;
  color: #999999;
}

.form-group.password {
  margin-bottom: 32px;
}
